body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card {
    margin-bottom: 20px;
    position: relative;
    z-index: 4;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-control {
    margin-bottom: 10px;
}

.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .responsive {
        flex-direction: row;
        justify-content: space-between;
    }
}



.login-bg {
  position: relative;
  background: url('../assets/office-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.login-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
  z-index: 1;
}